[Unit]
Description=Spark Worker Service
Wants=network.target network-online.target
After=network.target network-online.target

[Service]
Type=forking
User=spark
WorkingDirectory={{ spark_working_dir }}
#ExecStart={{ spark_install_dir }}/spark-{{ spark_version }}-bin-hadoop{{ spark_hadoop_version }}/bin/spark-class org.apache.spark_deploy.worker.Worker spark://{{ groups["spark-masters"] | join(":{0},".format(spark_master_work_port)) }}:{{ spark_master_work_port }} --webui-port {{ spark_worker_ui_port }} --work-dir {{ spark_working_dir }}
ExecStart={{ spark_install_dir }}/spark-{{ spark_version }}-bin-hadoop{{ spark_hadoop_version }}/sbin/start-slave.sh spark://{{ groups["spark-masters"] | join(":{0},".format(spark_master_work_port)) }}:{{ spark_master_work_port }}
ExecStop={{ spark_install_dir }}/spark-{{ spark_version }}-bin-hadoop{{ spark_hadoop_version }}/sbin/stop-slave.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target

